@import "tailwindcss";

:root {
  --bg-color: #ea580c; /* Default cor de fallback */
}

@theme inline {
  --color-background: var(--bg-color);
  --font-sans: var(--font-jakarta);
  --font-heading: var(--font-outfit);
  --font-experimental: var(--font-syne);
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  background-color: var(--bg-color);
  color: #ffffff;
  transition: background-color 2s ease;
}
